
{% extends "leaders.html" %}

{% block javascript %}
  $('a[rel="leader_team"]').colorbox({
    current: "",
    href: function() { return $(this).attr('href').replace("#", ""); },
    scrolling: false
  });
{% endblock %}

{% block boxes %}
<div class="leader_box leader_box_active"></div>
{% for team in leaders %}
  <div
    style="background-color: {{ team.color }}"
    class="leader_box leader_box_{{ forloop.counter }}">
    <img class="team_img" src="{{ team.get_logo_url }}" />
  </div>
{% endfor %}
{% endblock %}

